<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/index/index.css">
  <link rel="stylesheet" href="/javascripts/lib/sweetalert/sweetalert.css">
  <script src="/javascripts/lib/sweetalert/sweetalert.min.js"></script>
</head>

<body>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
  <div class="imageBackground">
    <div class="grad"></div>
    <div class="logo"><img src="/img/core-img/logo2.png"></div>
    <div class="des">
      <div class="half">Second-hand furniture </div>
      <div class="half" style="margin-top: 0.5em">Login</div>

    </div>

  </div>
</div>
<br>
<div class="login">
  <span>Please input your username and password:</span>
  <form method="post" action="/users/login" id="loginForm">
    <input type="text" placeholder="Email" name="email"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <input  value="Login" type="submit" id="loginButton">
  </form>
</div>

<script>

</script>

</body>
</html>