<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/index/index.css">
  <link rel="stylesheet" href="/javascripts/lib/sweetalert/sweetalert.css">
  <script src="/javascripts/lib/sweetalert/sweetalert.min.js"></script>
</head>

<body>

<div class="body"></div>
<div class="grad"></div>

<br>
<div class="register">
  <span>Please input your username and password:</span>
  <form method="post" action="/users/register" id="loginForm">
    <input type="text" placeholder="Email" name="email"><br>
    <input type="password" placeholder="Name" name="name"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <input  value="Register" type="submit" id="registerButton">
  </form>
</div>

<script>

</script>

</body>
</html>